@tailwind base;
@tailwind components;
@tailwind utilities;

/* SOLarana Font */
@font-face {
  font-family: 'SOLarana';
  src: url('/fonts/SOLarana.woff2') format('woff2'),
       url('/fonts/SOLarana.woff') format('woff'),
       url('/fonts/SOLarana.ttf') format('truetype'),
       url('/fonts/SOLarana.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Fun bounce-around animation for the puzzle title */
@keyframes bounce-around-screen {
  0% {
    position: fixed;
    top: 20%;
    left: 10%;
    transform: translate(0, 0) rotate(0deg) scale(1.2);
    opacity: 0;
    z-index: 9999;
  }
  10% {
    opacity: 1;
  }
  20% {
    top: 60%;
    left: 80%;
    transform: translate(0, 0) rotate(15deg) scale(1.1);
  }
  40% {
    top: 30%;
    left: 20%;
    transform: translate(0, 0) rotate(-10deg) scale(1.15);
  }
  60% {
    top: 70%;
    left: 70%;
    transform: translate(0, 0) rotate(20deg) scale(1.05);
  }
  80% {
    top: 40%;
    left: 50%;
    transform: translate(0, 0) rotate(-5deg) scale(1.1);
  }
  95% {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0) rotate(0deg) scale(1);
  }
  100% {
    position: relative;
    top: auto;
    left: auto;
    transform: translate(0, 0) rotate(0deg) scale(1);
    opacity: 1;
    z-index: auto;
  }
}

.animate-bounce-to-top {
  animation: bounce-around-screen 2.5s ease-in-out;
}

